$font-default: 'UTM Avo';
$font-menu: 'UTM Roman Classic';
$font-title: 'UTM Roman Classic';

$color-main: #ce9809;
$color-primary: #ce9809;
$color-text: #222222;
$color-link: #7f5d01;

$font-banner: 'UTM Roman Classic';
$color-3: #cea9b7;
$headline: #215107;
$color-second: #fef6f6;
$text-w: #fff;
$color-black: #000;
$color-white: #fff;